/* src/components/styles/InputField.module.css */
.inputField {
  margin: 1rem 0;
  text-align: left;
}

.inputField label {
  font-size: 0.9rem;
  color: #666;
}

.inputField input {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.25rem;
  border: 1px solid #ddd;
  border-radius: 30px; /* Adjust border-radius for rounded corners */
  font-size: 1rem;
  color: #666;
}

.required {
  color: red;
}