/* src/components/styles/LoginButton.module.css */
.loginButton {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #008CBA; /* Blue */
  color: white;
  border: none;
  border-radius: 5px;
}